.search-container {
  padding-bottom: 30px;
  max-width: 393px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  position: relative;
  min-height: border-box;
}

.recipe-title {
  margin-top: -50px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 22px !important;
}

.search-input-container {
  width: 80%;
  margin-bottom: 5px;
  position: relative;
  border: 2px solid #ff9639;
  border-radius: 10px;
}

.search-input {
  width: 100%;
  padding-left: 8px;
  padding-top: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 10px;
  height: 10px;
}

.category-section {
  margin-top: 20px;
  width: 80%; 
  text-align: left; 
}

.category-title {
  margin-bottom: 15px;
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 16px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
}

.category-item {
  padding: 3px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1.5px solid gray;
  font-weight: bold;
  color: gray;
}
